/*
  TODO: 
    - agregar mediaQuery para vista en moviles!!!
    - alinear y corregir titulo!
    - corregir imagen LOGO (posible cambio de imagen)!
    - eliminar lineas comentadas (usadas para referencia)
*/
html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

.btn {
  background-color: #eaa102;
  border-radius: 29px;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  background-color: #fcd176;
}

/*
  Seccion de header
*/
#header {
  background-color: #ccac6f;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  color: #504b39;
  z-index: 999;
}

#header h1 {
  flex: 2;
  margin: 0;
  padding: 20px;
}

#header>div {
  flex: inherit;
}

#header img {
  position: absolute;
  left: 10%;
  top: 5px;
  height: 26vh;
}

#header nav {
  flex: 2;
}

#header nav ul {
  /* width: 100%; */
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#header nav ul li {
  flex: 1;
  padding: 10px;
  list-style: none;
  font-size: 2rem;
  /* height: 80%; */
}

.nav-link {
  color: #504b39;
  text-decoration: none;
}

.nav-link div {
  height: 100%;
  /* background-color: white; */
  text-align: center;
}

#header nav ul li:last-child {
  flex: 2;
  margin: 0 30px 0 10px;
}

.precio {
  color: white;
}


/*
  Seccion main
*/
main>header {
  /*desacer cambios en header*/
  text-align: initial;
}

main {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  background-color: #ccac6f;
}

main>h1 {
  padding: 120px 0 20px 0;
  font-size: 4.5rem;
  font-weight: 700;
}

section {
  padding: 120px 0 0 0;
  display: grid;
}

section:last-child {
  padding: 120px 0 120px 0;
}

section>header,
section h2 {
  font-size: 2.5rem;
}

/*seccion: #como-funciona*/
#como_funciona {
  height: 550px;
}

#como_funciona>ul {
  padding: 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}

#como_funciona>ul>li {
  list-style: none;
  margin: auto 0 auto 0;
}

#como_funciona>ul>li:nth-child(odd) {
  background-color: #fff;
  color: #e4a311;
  border-radius: 5px;
  height: 120px;
}

i {
  font-size: xx-large;
}


/*seccion: #video-section*/
#video-section {
  justify-content: center;
}


/*seccion: #print-scan-3d*/
#print-scan-3d {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}

#print-scan-3d>header {
  /* color: red; */
}

#print-scan-3d>div:nth-child(2),
#print-scan-3d>div:nth-child(3) {
  display: grid;
  align-items: center;
  background-color: #a49163;
  margin: 5px;
  border-radius: 10px;
}

#print-scan-3d>div:nth-child(2) {
  grid-template-columns: 30% 70%;
}

#print-scan-3d>div:nth-child(2)>h3 {
  grid-column: 1/3;
}

#print-scan-3d>div:nth-child(2)>ul {
  padding-left: 15px;
}

#print-scan-3d>div:nth-child(2) li,
#print-scan-3d>div:nth-child(2) p {
  text-align: left;
}

#print-scan-3d>div:nth-child(3) {
  grid-template-columns: 100%;
}

#print-scan-3d>div:nth-child(3)>details>summary {
  cursor: pointer;
  padding: 1rem;
}

#print-scan-3d>div:nth-child(3)>details>summary>* {
  display: inline;
}

#print-scan-3d>div:nth-child(3)>details>p {
  padding: 1rem 15rem;
}


/*seccion: #renta-y-venta*/
#renta-y-venta {
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  gap: 10px;
}

#renta-y-venta>header {
  grid-column: 1/4;
}

#renta-y-venta>div {
  display: grid;
  align-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

#renta-y-venta>div>img {
  width: 100%;
  border-radius: 10px;
}


/*seccion: #precios*/
#precios {
  grid-template-columns: 50% 40%;
  justify-content: center;
  gap: 20px;
}

#precios>div {
  display: grid;
  gap: 20px;
  justify-content: center;
  grid-template-rows: min-content;
}

#precios h2 {
  grid-column: 1/3;
}

#precios>div>div {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#precios>div>div>*:nth-child(1) {
  flex: inherit;
}

#precios>div>div>*:nth-child(2) {
  flex: auto;
}

#precios>div>div>*:nth-child(3) {
  flex: none;
}

#precios>div>div h3 {
  border-bottom: #0000003d solid 2px;
}


/*footer*/
footer {
  background-color: #504b39;
  color: #fff;
  font-size: 2rem;
  padding: 5%;
  display: grid;
  justify-content: center;
  text-align: center;
}